In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
dp_colm = pd.read_csv('/content/drive/MyDrive/activity1.1/movies_metadata.csv',
                      usecols=['imdb_id', 'genres', 'overview', 'budget', 'runtime', 'release_date'],
                      index_col='imdb_id')

In [ ]:
dp_colm.head()

,budget,genres,overview,release_date,runtime
imdb_id,,,,,
tt0114709,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",1995-10-30,81.0
tt0113497,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,1995-12-15,104.0
tt0113228,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,1995-12-22,101.0
tt0114885,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",1995-12-22,127.0
tt0113041,0,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,1995-02-10,106.0

In [ ]:
df_rename = dp_colm.rename(columns={
    'imdb_id': 'IMDB ID',
    'genres': 'Genres',
    'overview': 'Overview',
    'budget': 'Budget',
    'release_date': 'Date',
    'runtime': 'Runtime'
})

In [ ]:
df_rename.head()

,Budget,Genres,Overview,Date,Runtime
imdb_id,,,,,
tt0114709,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",1995-10-30,81.0
tt0113497,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,1995-12-15,104.0
tt0113228,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,1995-12-22,101.0
tt0114885,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",1995-12-22,127.0
tt0113041,0,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,1995-02-10,106.0

In [ ]:
df_drop=df_rename.drop(columns=['Genres'])
df_drop.head()

,Budget,Overview,Date,Runtime
imdb_id,,,,
tt0114709,30000000,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,81.0
tt0113497,65000000,When siblings Judy and Peter discover an encha...,1995-12-15,104.0
tt0113228,0,A family wedding reignites the ancient feud be...,1995-12-22,101.0
tt0114885,16000000,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,127.0
tt0113041,0,Just when George Banks has recovered from his ...,1995-02-10,106.0

In [ ]:
del df_drop['Date']
df_drop.head()

,Budget,Overview,Runtime
imdb_id,,,
tt0114709,30000000,"Led by Woody, Andy's toys live happily in his ...",81.0
tt0113497,65000000,When siblings Judy and Peter discover an encha...,104.0
tt0113228,0,A family wedding reignites the ancient feud be...,101.0
tt0114885,16000000,"Cheated on, mistreated and stepped on, the wom...",127.0
tt0113041,0,Just when George Banks has recovered from his ...,106.0